<template lang="html">

<div>
  <header-bar></header-bar>

  <div class="form">
    <el-form :model="ruleRegister" :rules="rules" ref="ruleRegister">
      <h1 class="text-center">{{ module_name }}</h1>

      <el-form-item prop="name">
        <el-input type="text" v-model.number="ruleRegister.name" name="name" auto-complete="off" icon="fa-user" placeholder="Enter your name">
          </el-input>
      </el-form-item>

      <el-form-item prop="email">
        <el-input type="email" v-model="ruleRegister.email" name="email" auto-complete="off" icon="fa-key" placeholder="Enter your email">
          </el-input>
      </el-form-item>

      <el-form-item prop="pwd">
        <el-input type="password" v-model="ruleRegister.pwd" name="pwd" auto-complete="off" icon="fa-key" placeholder="Enter your password">
          </el-input>
      </el-form-item>

      <el-form-item>
        <el-button class="but-faild" type="primary" @click="submitForm('ruleRegister')">{{ module_name }}</el-button>
      </el-form-item>

      <el-alert :title="alert_title" :type="alert_type" :description="alert_description" show-icon v-if="is_show">
        </el-alert>

    </el-form>
  </div>

  <footer-bar></footer-bar>
</div>

</template>

<script>
import HeaderBar from '@/components/public/HeaderBar'
import FooterBar from '@/components/public/FooterBar'

export default {
  name: 'Register',
  data () {
    const validateName = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter your name'))
      } else {
        let reg = /^[a-zA-Z ]{2,30}$/
        if (!reg.test(this.ruleRegister.name)) {
          callback(new Error('Invalid name'))
        } else {
          callback()
        }
      }
    }
    const validateEmail = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter your email'))
      } else {
        let reg = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/
        if (!reg.test(this.ruleRegister.email)) {
          callback(new Error('Invalid email'))
        } else {
          callback()
        }
      }
    }
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter your password'))
      } else {
        let reg = /^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,20}$/
        if (!reg.test(this.ruleRegister.pwd)) {
          callback(new Error('8~20 digit; numbers and letters and special characters'))
        } else {
          callback()
        }
      }
    }
    return {
      module_name: 'Register',
      is_show: false,
      alert_title: '',
      alert_description: '',
      alert_type: '',
      ruleRegister: {
        name: '',
        email: '',
        pwd: ''
      },
      rules: {
        name: [
          { validator: validateName, trigger: ' blur' }
        ],
        email: [
          { validator: validateEmail, trigger: ' blur' }
        ],
        pwd: [
          { validator: validatePass, trigger: ' blur' }
        ]
      }
    }
  },
  components: {
    HeaderBar,
    FooterBar
  },
  methods: {
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        const opt = this.ruleRegister
        this.$api.UserAdd(opt)
          .then(({data}) => {
            const code = data.code
            if (code === 50) {
              this.alert_type = 'error'
              this.$refs[formName].resetFields()
            } else if (code === 200) {
              this.alert_type = 'success'
              this.$refs[formName].resetFields()
            } else {
              this.alert_type = 'error'
            }
            const msg = data.msg
            const tip = data.tip
            this.alert_title = msg
            this.alert_description = tip
            this.is_show = true
          }).catch((err) => {
            console.log(err)
          })
      })
    }
  }
}
</script>
